# Ignore Terraform directories and state files
.terraform/  # Ignore the entire .terraform directory
*.tfstate    # Ignore all state files
*.tfstate.*  # Ignore backup state files (e.g., .tfstate.backup)
*.tfvars     # Ignore any tfvars files (often used to store sensitive data)
crash.log    # Ignore crash logs

# Ignore lock file used by Terraform to track provider versions
.terraform.lock.hcl

# Ignore the specific file "170483226_project.pdf"

170483226_project1_report_clo800.docx
CLO800-Project_1_S24_ver1.0.pdf
# You can add specific rules to not ignore particular files (optional)
# Uncomment below if needed
# !terraform.tfvars.example   # Example: don't ignore example tfvars file

